h1 {
    color: white;
    background-color: #a52a2a;
    text-align: center;
    width: 759px;
    margin: 0px 0px 15px 0px;
}
figure {
    margin: 0px 0px 0px 0px;
}
.image-flex {
    width: 759px;
    margin: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option1 {
    margin: 15px 0px 0px 0px;
    width: 759px;
    font-size: 18px;

}
.car-border {
    border: dotted;
    margin: 0px 5px 0px 0px;
}
footer {
    text-align: center;
    width: 759px;
    margin: 15px 0px 0px 0px;
    background-color: #090909;
    color: white;
    font-size: 20px;
}